;-------------------------------------------------------------------------------
;(訪問者宅にて)脱走する(拡張版)
; RETURN 0:コマンドの実行に失敗, 1:コマンドの実行に成功
; MASTER/TARGET/PLAYER/ASSIに影響されず呼び出したいので、中身は関数に切り出す
@COM461
	CALL COMMAND461(MASTER)
RETURN RESULT:0

;-------------------------------------------------------------------------------
;(訪問者宅にて)脱走する(拡張版)
; @return 0:コマンドの実行に失敗,1:コマンドの実行に成功
@COMMAND461(奴隷)
	#DIM 奴隷
	#DIMS コマンド,100
	#DIM コマンド数 = 0
	;未設定の場合初期位置にリセット
	IF CFLAG:奴隷:現在位置詳細 == 0
		CFLAG:奴隷:現在位置詳細 = 25
	ENDIF
	IF FLAG:訪問者の現在位置 != 場所_訪問者宅 && RAND:20 == 0
		CALL COMMAND461_01(奴隷)
		RETURN 1
	ENDIF
	コマンド数 = 0
	CALL COM461_MAP(奴隷)
	$COM461_INPUT_LOOP
	INPUT
	TRYCCALLFORM COM461_%TOSTR(RESULT:0,"00")%
	CATCH
		CLEARLINE 1
		GOTO COM461_INPUT_LOOP
	ENDCATCH
RETURN RESULT:0
RETURN 0

;-------------------------------------------------------------------------------
;訪問者の帰宅
;@return 1:xxx,0:xxx
@COMMAND461_01(奴隷)
	#DIM 奴隷
	#DIM 体位
	#DIM 前後
	#DIM 回数
	#DIM 行為時間
	#DIM 累計時間
	FLAG:訪問者の現在位置 = 場所_訪問者宅
	SELECTCASE CFLAG:奴隷:現在位置詳細
		CASE 24,25,26,27
		PRINTFORMW %"どうやら、"+NTR_NAME(0)+"が帰ってきたようだ……"%
	CASEELSE
		SELECTCASE TALENT:MASTER:NTR
		CASE 1
		PRINTFORMW %"どうやら、"+NTR_NAME(0)+"が帰ってきたようだ！"%
			PRINTFORML 
			IF CFLAG:うふふ == 3
				PRINTFORMW %"自慰に没頭していた"+CALLNAME:奴隷+"はそれに気づけず、その恥ずかしい姿をしっかりと見られてしまった……！"%
				PRINTFORMW %NTR_NAME(0)+"は薄ら笑いを浮かべて"+CALLNAME:奴隷+"を見つめてきている。"%
				PRINTFORM %"その視線に、"%
				IF CFLAG:MASTER:WC_訪問者受け入れ具合 >= 5
					PRINTFORMW %NTR_NAME(0)+"が帰って来ないから待ちきれなかった、と拗ねたように言った。"%
				ELSE
					PRINTFORMW %"これは違う、と意味の成してない言い訳を並べた。"%
				ENDIF
				PRINTFORML 
				PRINTFORM %"だがそう言う"+CALLNAME:奴隷+"のことを無視するように"+NTR_NAME(0)+"は近寄り、"%
				IF RAND:2 == 0
					PRINTFORMW %"『我慢できない奴にはお仕置きだ』と言って"+CALLNAME:奴隷+"を押し倒してきた。"%
					;経験少ない場合の苦痛刻印防止。ローションを使う感じ？
							SOURCE:奴隷:液体 = 5000 * MAX( 5-ABL:奴隷:Ｖ感覚, 0 )
							;「普通」の場合１回の行為時間を短く取り回数は減らす。(11〜20分×2〜4回)
							回数 = 2 + RAND:3
							累計時間 = 0
							FOR LOCAL:0,0,回数
								行為時間 = 11 + RAND:10
								CALL NTR_Play_V_0(奴隷,人物_訪問者,1,行為時間)
								CALL NTR_SOURCE_CHECK(奴隷,人物_訪問者)
								CALL ORGASM_ADD(奴隷,人物_訪問者)
								累計時間 += 行為時間
								TIME += 行為時間
							NEXT
							PRINTDATAL
								DATAFORM %CALLNAME:奴隷+"は"+TOSTR(累計時間)+"分かけて"+TOSTR(回数)+"回性器を犯された"%
							ENDDATA
							CFLAG:うふふ = 0
				ELSE
					PRINTFORMW %"『そのまま続けろ』と命令してきた。"%
					IF CFLAG:MASTER:WC_訪問者受け入れ具合 >= 5
						PRINTFORMW %CALLNAME:奴隷+"は"+NTR_NAME(0)+"が直接触ってくれないもどかしさと、何かしてくれるかもしれないという期待に息を荒げながら、再び自慰を再開する……。"%
					ELSE
						PRINTFORMW %"逆らいたくとも、"+NTR_NAME(0)+"の家に居る以上逃げられない"+CALLNAME:奴隷+"は、仕方なく自慰を再開した……。"%
					ENDIF
				ENDIF
			ELSE
				SELECTCASE CFLAG:奴隷:現在位置詳細
				CASE 1
				CASEELSE
					PRINTFORMW %NTR_NAME(0)+"が帰ってくる気配を感じて、"+CALLNAME:奴隷+"は玄関に駆けつけた。"%
					;お出迎えで玄関に移動
					CFLAG:奴隷:現在位置詳細 = 1
				ENDSELECT
				PRINTFORM %CALLNAME:奴隷+"は"+NTR_NAME(0)+"を出迎えると、"%
				IF CFLAG:MASTER:WC_訪問者受け入れ具合 >= 5
					PRINTFORML %"帰ってくるのが待ち遠しかったと告げながらお帰りのキスを交わし、同時に期待するように"+NTR_NAME(0)+"の股間を撫でた。"%
				ELSEIF CFLAG:MASTER:WC_訪問者受け入れ具合 == 4
					PRINTFORML %"お帰りのキスをした"%
				ELSE
					PRINTFORML %"一言「お帰りなさいませ」と挨拶をした。"% 
				ENDIF
				;三分の一の確率で玄姦に
				SELECTCASE RAND:3
				CASE 1
					PRINTFORML 
					PRINTFORMW  %NTR_NAME(0)+"は"+CALLNAME:奴隷+"のお出迎えに興奮したのか、"+CALLNAME:奴隷+"を抱き寄せるとの身体をいやらしい手つきで撫でまわしてきた！"%
					PRINTFORML 
					IF CFLAG:MASTER:WC_訪問者受け入れ具合 >= 5
						PRINTFORMW %CALLNAME:奴隷+"は待ってましたと言わんばかりに身体を"+NTR_NAME(0)+"に任せ、淫靡な笑みを浮かべながら逆に"+NTR_NAME(0)+"の身体を愛撫する。"%
					ELSEIF CFLAG:MASTER:WC_訪問者受け入れ具合 == 4
						PRINTFORMW %CALLNAME:奴隷+"は口ではダメと否定する、が身体からは力を抜いて"+NTR_NAME(0)+"を受け入れようとしていた。"%
					ELSE
						PRINTFORMW %CALLNAME:奴隷+"はそれに対して弱々しく拒絶の言葉を述べるが、まるで効果がない。"%
					ENDIF
					PRINTFORMW %"その態度にさらに興奮を高めたらしい"+NTR_NAME(0)+"はそのまま手際よく服をはだけさせると、"%
					;体位の決定
					SELECTCASE RAND:3
					CASE 1
						体位 = 1	;;正常位
						PRINTFORMW %"ちょうど上がり框を膝に来る位置で押し倒し、足を開かせた。"%
					CASE 2
						体位 = 2	;;背面立位
						PRINTFORMW %"ドアに押し付けるように追いやり逃げられないようにしてくる。"%
					CASEELSE
						体位 = 3	;;後背位
						PRINTFORMW %"上がり框の所に手をつかせ、尻を突き出すように高く上げさせた。"%
					ENDSELECT
					;前後の決定
					PRINTFORMW %"そのまま"+NTR_NAME(0)+"は片手で胸の愛撫を、もう片方を"+CALLNAME:奴隷+"の股間に手を伸ばすと手際よく貞操帯を外す"%
					PRINTFORMW %"そして一旦身体を離すと、もう既に臨戦態勢となっているそびえ立つ剛直を"%
					;処女、もしくは男だと強制でAに
					IF TALENT:MASTER:処女 || !HAS_VAGINA(MASTER)
						前後 = 1	;;後ろに
					ELSE
						SELECTCASE RAND:3
						CASE 1
							前後 = 1	;;後ろに
						CASEELSE
							前後 = 2	;;前に
						ENDSELECT
					ENDIF
					SELECTCASE 前後
					CASE 1
						SELECTCASE 体位
						CASE 1	;;正常位
							PRINTFORM %"少し高めに"+CALLNAME:奴隷+"の腰を持ち上げて"%
						ENDSELECT
					PRINTFORMW %"ひくひくと蠢いている菊門へ狙いを定めた"%
					CASEELSE
						SELECTCASE 体位
						CASE 1
						CASEELSE	;;正常位以外で追加
							PRINTFORM %"後ろから"%
						ENDSELECT
						PRINTFORMW %"もう既に濡れそぼった秘裂に狙いを定めた"%
					ENDSELECT
					PRINTFORML 
					PRINTFORM %"それを見た"+CALLNAME:奴隷+"は"%
					IF CFLAG:MASTER:WC_訪問者受け入れ具合 >= 5
						PRINTFORM %"待ちきれず、自分で"%
						SELECTCASE 前後
						CASE 1
							PRINTFORM %"性器と化した尻穴を"%
						CASEELSE
							PRINTFORM %NTR_NAME(0)+"の虜となった女唇を"%
						ENDSELECT
						PRINTFORMW %"開いて、"+NTR_NAME(0)+"にいやらしいおねだりの言葉をかけている。"%
					ELSEIF CFLAG:MASTER:WC_訪問者受け入れ具合 == 4
						PRINTFORMW %"愛撫で送られる快楽で既にぐったりとしており、犯してくる男根を蕩けた瞳で見つめることしかできない"%
					ELSE
						PRINTFORMW %"は必死に抵抗を続けようとするも、身体が既に屈服しているのか言葉にすら力が籠ってない。"%
					ENDIF
					PRINTFORM %NTR_NAME(0)+"はそんな"+CALLNAME:奴隷+"の様子を見て薄い笑みを浮かべると、"%
						SELECTCASE 体位
						CASE 1	;;正常位
							PRINTFORMW %"上からのしかかるように剛直を突き入れた。"%
						CASE 2	;;背面立位
							PRINTFORMW %"後ろから"+CALLNAME:奴隷+"の身体を抱きしめるようにしながら腰を突き出した。"%
						CASEELSE
							PRINTFORMW %"突き出されている尻を手で強引に引き寄せながら腰を突き出した。"%
						ENDSELECT
					PRINTFORMW %"いきなり襲いくる快感と衝撃に身体を反らせる"+CALLNAME:奴隷+"だったが、そんな事もお構いなしに"+NTR_NAME(0)+"は激しくピストンを開始する。"%
					PRINTFORML 
					PRINTFORM %"襲いくる快楽の中で、やがて挿入の衝撃が落ち着いてきた"+CALLNAME:奴隷+"は"%
					IF CFLAG:MASTER:WC_訪問者受け入れ具合 >= 5
						PRINTFORMW %"更なる快楽を貪ろうとして"+CALLNAME:奴隷+"は自らも淫らに腰を振り、淫らなよがり声を上げ続けていた。"%
					ELSEIF CFLAG:MASTER:WC_訪問者受け入れ具合 == 4
						PRINTFORMW %"それでももう何も考えられず、身体が欲するがままに腰を揺らしはしたない声を上げていた。"%
					ELSE
						PRINTFORMW %"きつく目を閉じ、身体の奥から湧く甘い快楽を必死に封じ込めながら早く終わる事だけを祈っていた。"%
					ENDIF
					PRINTFORML
						SELECTCASE 体位
						CASE 1
							;経験少ない場合の苦痛刻印防止。ローションを使う感じ？
							SOURCE:奴隷:液体 = 5000 * MAX( 5-ABL:奴隷:Ａ感覚, 0 )
							;「普通」の場合１回の行為時間を短く取り回数は減らす。(11〜20分×2〜4回)
							回数 = 2 + RAND:3
							累計時間 = 0
							FOR LOCAL:0,0,回数
								行為時間 = 11 + RAND:10
								CALL NTR_Play_A_0(奴隷,人物_訪問者,1,行為時間)
								CALL NTR_SOURCE_CHECK(奴隷,人物_訪問者)
								CALL ORGASM_ADD(奴隷,人物_訪問者)
								累計時間 += 行為時間
								TIME += 行為時間
							NEXT
							PRINTDATAL
								DATAFORM %CALLNAME:奴隷+"は"+TOSTR(累計時間)+"分かけて"+TOSTR(回数)+"回尻穴を犯された"%
							ENDDATA
						CASEELSE
							;経験少ない場合の苦痛刻印防止。ローションを使う感じ？
							SOURCE:奴隷:液体 = 5000 * MAX( 5-ABL:奴隷:Ｖ感覚, 0 )
							;「普通」の場合１回の行為時間を短く取り回数は減らす。(11〜20分×2〜4回)
							回数 = 2 + RAND:3
							累計時間 = 0
							FOR LOCAL:0,0,回数
								行為時間 = 11 + RAND:10
								CALL NTR_Play_V_0(奴隷,人物_訪問者,1,行為時間)
								CALL NTR_SOURCE_CHECK(奴隷,人物_訪問者)
								CALL ORGASM_ADD(奴隷,人物_訪問者)
								累計時間 += 行為時間
								TIME += 行為時間
							NEXT
							PRINTDATAL
								DATAFORM %CALLNAME:奴隷+"は"+TOSTR(累計時間)+"分かけて"+TOSTR(回数)+"回性器を犯された"%
							ENDDATA
						ENDSELECT
				CASEELSE
				ENDSELECT
			ENDIF
		CASEELSE
				PRINTFORMW %"牢屋の外に出ている所を、帰ってきた"+NTR_NAME(0)+"に見つかった！"%
				PRINTFORMW %CALLNAME:奴隷+"は牢屋に連れ戻され、お仕置きとして激しく犯される事になってしまった……"%
				;場所は牢屋に
				CFLAG:奴隷:現在位置詳細 = 25
				;鍵は全部かける
				FLAG:訪問者宅の施錠状態 ^= (訪問者宅_牢屋解錠済|訪問者宅_通路解錠済|訪問者宅_床扉解錠済)
				CFLAG:奴隷:NTR訪問者宅監禁状況 ^= (訪問者宅_牢屋解錠済|訪問者宅_通路解錠済|訪問者宅_床扉解錠済)
				CALL COM46x_V_3(奴隷)
		ENDSELECT
	ENDSELECT
RETURN 1



;-------------------------------------------------------------------------------
;FIXME:関数の説明を書いてください
;@return 1:xxx,0:xxx
@COM461_MAP(奴隷)
	#DIM 奴隷
	#DIMS 地図,2,9
	#DIM 階層
	#DIM 行数
	#DIMS HTMLデータ
	#DIMS 自分位置色
	#DIMS 無効位置色
	;地上部分データ
	地図:01:00 = %"┏━┳┓─┏━━┓"%
	地図:01:01 = %"┃02┃　01　　03┃"%
	地図:01:02 = %"┣　┛　　　　　┃"%
	地図:01:03 = %"┃04│　　　　　┃"%
	地図:01:04 = %"┣　┓　05　　06┃"%
	地図:01:05 = %"┃　┃　　　　　┃"%
	地図:01:06 = %"┃07┃　┏　━━┫"%
	地図:01:07 = %"┃　┃08┃　09　┃"%
	地図:01:08 = %"┗━┻━┻━━━┛"%
	;地下部分データ
	地図:00:00 = %"　　　　┏━━━┓"%
	地図:00:01 = %"　　　　┃　　　┃"%
	地図:00:02 = %"┏━┳━┫　23　┃"%
	地図:00:03 = %"┃21：22：　　　┃"%
	地図:00:04 = %"┗━╋‥┻━┳━┛"%
	地図:00:05 = %"　　┃24　　┃　　"%
	地図:00:06 = %"　　┃　25　┃　　"%
	地図:00:07 = %"　　┃26　27┃　　"%
	地図:00:08 = %"　　┗━━━┛　　"%
	;地図描画
	;FIXME:手抜き。ちゃんとColorSettings.erhの値をそのうち変換すること。
	自分位置色 = %"#00FF00"%
	FOR 階層,VARSIZE("地図",0)-1,-1,-1
		HTMLデータ '= ""
		FOR 行数,0,VARSIZE("地図",1)
			FOR LOCAL:0,0,100
				TRYCCALLFORM %"COM461_"+TOSTR(LOCAL:0,"00")+"_ENABLE"%, 奴隷
					IF RESULT:0 && STRCOUNT(地図:階層:行数,TOSTR(LOCAL:0,"00")) > 0
						IF CFLAG:奴隷:現在位置詳細 == LOCAL:0
							地図:階層:行数 = %REPLACE(地図:階層:行数,TOSTR(LOCAL:0,"00"),"<button value='"+TOSTR(LOCAL:0,"00")+"'><font color='"+自分位置色+"'>"+TOSTR(LOCAL:0,"00")+"</font></button>")%
							地図:階層:行数 = %地図:階層:行数+"  "+"<button value='"+TOSTR(LOCAL:0,"00")+"'><font color='"+自分位置色+"'>"+TOSTR(LOCAL:0,"00")+":"+RESULTS:0+"</font></button>"%
						ELSE
							地図:階層:行数 = %REPLACE(地図:階層:行数,TOSTR(LOCAL:0,"00"),"<button value='"+TOSTR(LOCAL:0,"00")+"'>"+TOSTR(LOCAL:0,"00")+"</button>")%
							地図:階層:行数 = %地図:階層:行数+"  "+"<button value='"+TOSTR(LOCAL:0,"00")+"'>"+TOSTR(LOCAL:0,"00")+":"+RESULTS:0+"</button>"%
						ENDIF
					ELSE
						地図:階層:行数 = %REPLACE(地図:階層:行数,TOSTR(LOCAL:0,"00"),"  ")%
					ENDIF
				CATCH
				ENDCATCH
			NEXT
			HTMLデータ '= HTMLデータ+地図:階層:行数+"<br>"
		NEXT
		HTMLデータ '= "<font face='MS Gothic'>"+HTMLデータ+"</font>"
		HTML_PRINT HTMLデータ
	NEXT
RETURN 0
