;原名：MAP_PRINT.ERB
;－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
;紅魔館敷地内
@MAP_PRINT_0

;・マップ作成
;CALL MAP_SETING, "■■■■■▲▲▲■■■■■■■■ ", -1, 位置_红魔馆_正门, 位置_红魔馆_大厅
;　　　　　　　　　　　↑表示されるマップ　　　　　　　↑　　　↑マップ横のボタン、最高５つまで、省略可
;　　　　　　　　　　　　　　　　　　　　　　　　　　　｜
;　　　　　　　　　　　　　　　　　　　　　　　　　色コード値(下で説明)

;・マップ内ボタン作成
;CALL MAP_SETING, "１/■■■■■/16/▲▲▲■■■/５/■■■■■ ", -1, 位置_红魔馆_正门, 位置_红魔馆_大厅
;マップ内のボタンとなる数値の左右を"/"で囲う、末端の場合は端ではない方のみ"/"を置く
;"/"で囲われた数字がボタンになる

;・部分カラー指定
;CALL MAP_SETING, "１/■■■■■/16/#FF8000=▲▲▲/■■■/５/■■■■■ ", -1, 位置_红魔馆_正门, 位置_红魔馆_大厅
;色を変えたい文字(記号)の右端に"#(16進数色コード)="で色を指定できる、色コードの英字は大文字小文字どちらでも可
;指定すると次の"/"までの文字が指定した色に変わる、上の場合▲▲▲の部分が違う色で表示される
;"#resetC="でEmueraに設定している基本の文字色に設定できる
;ボタンの色は変えられない

;・色コード値
;CALL MAP_SETING, "１/■■■■■/16/#FF8000=▲▲▲■■/■/５/■■■■■ ", 0Xdc143c, 位置_红魔馆_正门, 位置_红魔馆_大厅
;0X(16進数色コード)で色コード値を変えるとボタンを除く全ての文字(記号)がその色で表示される
;色の指定は部分カラー指定が優先される、上の場合▲▲▲■■の部分のみ違う色で表示される
;"-1"でEmueraに設定している基本の文字色になる

PRINTL ～紅魔館～
PRINTL
CALL MAP_SETING, "二楼　　　　　　　　　　　　　　　　　　"								, -1
CALL MAP_SETING, "　　　　　　　■■■■■■■　　　　　　"									, 0Xdc143c, 位置_红魔馆_妖精女仆办公室
CALL MAP_SETING, "　　　　　　　■/13/■/15/■/14/■■　　　　　"							, 0Xdc143c, 位置_红魔馆_咲夜私室, 位置_红魔馆_玩家房间
CALL MAP_SETING, "　　　　　　　■　　　/12/　/24/■　　　　　"							, 0Xdc143c, 位置_红魔馆_二楼走廊, 位置_红魔馆_二楼厕所
CALL MAP_SETING, "　　　　　　　■■■■■　■■■■　　　"										, 0Xdc143c, 位置_红魔馆_蕾米莉亚私室, 位置_红魔馆_三楼阳台
CALL MAP_SETING, "　　　　　　　■■/２/#resetC=＜/11/#resetC=＞/16/　/26/■　　　"		, 0Xdc143c, 位置_红魔馆_二楼楼梯间
CALL MAP_SETING, "　　　　　　　■■■■■■■■■■　　　"									, 0Xdc143c
CALL MAP_SETING, "　　　　　　　　　　　　　　　　　　　　"								, -1
CALL MAP_SETING, "一楼　　　　　　　　　　　　　　　　　　"								, -1
CALL MAP_SETING, "■■■■■■■■■■■■■■■■■■■　"											, 0Xdc143c
CALL MAP_SETING, "■/22/　　　　　　　　　　　　/10/　　/６/■　"						, 0Xdc143c, 位置_红魔馆_屋外厕所, 位置_红魔馆_后院, 位置_红魔馆_仓库
CALL MAP_SETING, "■　　■■■■■■　■■■■　　　　■　"										, 0Xdc143c, 位置_红魔馆_厨房, 位置_红魔馆_餐厅
CALL MAP_SETING, "■　　■　/５/　　　/３/　■■■■■■　■　"								, 0Xdc143c
CALL MAP_SETING, "■　　■■■■■■　■■　　　/８/■　■　"									, 0Xdc143c, 位置_红魔馆_小恶魔私室
CALL MAP_SETING, "■　　■/23/■　　　　　　　/４/　■■　■　"							, 0Xdc143c, 位置_红魔馆_大图书馆, 位置_红魔馆_帕秋莉私室
CALL MAP_SETING, "■　　■　　　■/#resetC=＜/２/#resetC=＞/■　　　/７/■　■　"			, 0Xdc143c, 位置_红魔馆_一楼厕所, 位置_红魔馆_大厅
CALL MAP_SETING, "■　　■■■■■■　■■■■■■■　■　"										, 0Xdc143c
CALL MAP_SETING, "■/９/　　　　　　　/１/　　　　　　　　■　"						, 0Xdc143c, 位置_红魔馆_守卫小屋, 位置_红魔馆_正门
CALL MAP_SETING, "■■■■■■■■■　■■■■■■■■■　"										, 0Xdc143c
CALL MAP_SETING, "　　　　　　　　　　　　　　　　　　　　"							, 0Xdc143c
CALL MAP_SETING, "地下　　　　　　　　　　　　　　　　　　"							, -1
CALL MAP_SETING, "　　　■■■■■■■　　　　　　　　　　"								, 0Xdc143c
CALL MAP_SETING, "　　　■/17/　　/31/#resetC=＞/■　　　　　　　　　　"				, 0Xdc143c, 位置_红魔馆_地下室, 位置_红魔馆_地下室走廊
CALL MAP_SETING, "　　　■■■　■■■　　　　　　　　　　"								, 0Xdc143c
CALL MAP_SETING, "　　　■　　　　　■　　　　　　　　　　"							, 0Xdc143c
CALL MAP_SETING, "　　　■　　/18/　　■　　　　　　　　　　"							, 0Xdc143c, 位置_红魔馆_大浴场
CALL MAP_SETING, "　　　■■■■■■■　　　　　　　　　　"								, 0Xdc143c
[SKIPSTART]
CALL MAP_SETING, "■■■■■■■■■■■■■■■■　"							, 0Xdc143c, 位置_红魔馆_正门, 位置_红魔馆_大厅
CALL MAP_SETING, "■/22/　　　　　　　　　　/10/　/６/■　"						, 0Xdc143c, 位置_红魔馆_餐厅, 位置_红魔馆_大图书馆
CALL MAP_SETING, "■　■■■■■　■■■　　　　■　"							, 0Xdc143c, 位置_红魔馆_厨房, 位置_红魔馆_仓库
CALL MAP_SETING, "■　■　/５/　　/３/　■■■■■　■　"						, 0Xdc143c, 位置_红魔馆_帕秋莉私室
CALL MAP_SETING, "■　■■■■■　■■　　/８/■　■　"							, 0Xdc143c, 位置_红魔馆_小恶魔私室
CALL MAP_SETING, "■　■/17/■　/#resetC=＜　＞/■/４/　■■　■　"				, 0Xdc143c, 位置_红魔馆_守卫小屋
CALL MAP_SETING, "■　■/23/　　　/２/　　　　/７/■　■　"						, 0Xdc143c, 位置_红魔馆_后院;, 位置_红魔馆_地下室階段
CALL MAP_SETING, "■　■■■■■　■■■■■■　■　"							, 0Xdc143c, 位置_红魔馆_屋外厕所, 位置_红魔馆_一楼厕所
CALL MAP_SETING, "■/９/　　　　　/１/　　　　　　　■　"						, 0Xdc143c
CALL MAP_SETING, "■■■■■■■　■■■■■■■■　"							, 0Xdc143c
CALL MAP_SETING, "　　　　　　　　　　　　　　　　　"							, 0Xdc143c
CALL MAP_SETING, "２階　　　　　　　　　　地下　　　"							, -1, 位置_红魔馆_二楼楼梯间, 位置_红魔馆_二楼走廊
CALL MAP_SETING, "■■■■■■■■　　　　■■■■　"							, 0Xdc143c, 位置_红魔馆_咲夜私室
CALL MAP_SETING, "■/13/■/15/■/14/■■■　　　■/17/#resetC=＞/■　"			, 0Xdc143c, 位置_红魔馆_妖精女仆办公室
CALL MAP_SETING, "■　　　/12/　　/24/■　　　■■■■■"						, 0Xdc143c, 位置_红魔馆_玩家房间
CALL MAP_SETING, "■■■■■　■■■■■　■　/#resetC=＞/　■"					, 0Xdc143c, 位置_红魔馆_蕾米莉亚私室, 位置_红魔馆_三楼阳台
CALL MAP_SETING, "■■■/２/#resetC=＜/11/#resetC=＞/16/　/26/■　■　/18/　■"	, 0Xdc143c, 位置_红魔馆_二楼厕所
CALL MAP_SETING, "■■■■■■■■■■■　■■■■■"							, 0Xdc143c, 位置_红魔馆_地下室, 位置_红魔馆_大浴场
[SKIPEND]

;－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
;霧の湖他
@MAP_PRINT_1

PRINTL ～雾之湖周边～
PRINTL
CALL MAP_SETING, "　　　　■/#resetC=　紅魔館　/■　　　　　　　　　　　　"									, 0Xdc143c
CALL MAP_SETING, "　　　　■　　　　　■　　　　　　　/#resetC=魔法の森　"									, 0Xdc143c
CALL MAP_SETING, "　　　　■■■/１/■■■　　　　　　　　　/#228b22=●●●"								, 0Xdc143c
CALL MAP_SETING, "　　　　　　　　　　　　　　　　　　/#228b22=●●●●●"									, -1
CALL MAP_SETING, "　　　　　　　　　　　　　　　　　/#228b22=●●/■■■/#228b22=●"						, -1
CALL MAP_SETING, "　　　　　　　/19/　　　　　　　　/#228b22=●●●/■/30/■/#228b22=●"					, -1
CALL MAP_SETING, "　　　　　　　　　　　　　　　　　/28/　　　　　"											, -1
CALL MAP_SETING, "#1E90FF=　　　　　／／／／／/　　　　　　●　●●　　　"									, 0X228b22
CALL MAP_SETING, "#1E90FF=　　　　／／／／／／／/　　　　　/#228b22=●/29/#228b22=●/■/25/■/#228b22=●"	, -1
CALL MAP_SETING, "#1E90FF=　　　／／／/霧の湖/#1E90FF=／／／/　　　　/#228b22=●●●/■■■/#228b22=●"		, -1
CALL MAP_SETING, "#1E90FF=　　　　／／／／／／／/　　　　　　●●●●●●"									, 0X228b22
CALL MAP_SETING, "#1E90FF=　　　　　／／／／／/　　　　　　　　　　●●●"									, 0X228b22
CALL MAP_SETING, "　　　　　　　　　　　　　　　　　　　　　　●"											, 0X228b22
CALL MAP_SETING, "　　　　　　　/27/　　　　　　　　　　　　　　　"											, -1, 位置_红魔馆_正门
CALL MAP_SETING, "　　　　　　　　　　　　　　　　　　　　　　　"											, -1, 位置_魔法之森_森林岔路, 位置_魔法之森_露米娅的树屋
CALL MAP_SETING, "　　　　　　　　　　　　　　　　　　　　　　　"											, -1, 位置_魔法之森_雾雨魔法店, 位置_魔法之森_爱丽丝的家
CALL MAP_SETING, "■/20/■　　　■/21/■　　　　　　　　　　　　　　"										, -1, 位置_雾之湖_湖北部, 位置_雾之湖_湖南部
CALL MAP_SETING, "■■■　　　■■■　　　　　　　　　　　　　　"											, -1, 位置_雾之湖_琪露诺的家, 位置_雾之湖_大妖精的家


;－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
;マップセット
@MAP_SETING, ARGS, C_CODE, ARG:0, ARG:1, ARG:2, ARG:3, ARG:4

#DIM C_CODE
#DIMS MAPING, 50
SETFONT "ＭＳ ゴシック"
;ARG:n = マップの横に表示するボタン

VARSET MAPING

SPLIT ARGS, "/", MAPING
LOCAL:1 = RESULT
;マップ表示
PRINT ┃
FOR LOCAL, 0, LOCAL:1
	;数値か確認
	TOHALF MAPING:LOCAL
	TOINT RESULTS
	;数値ならボタン化
	IF RESULT != 0
		CALL GETMAP(RESULT)
		;HTML_PRINT @"<font color = '%"#" + TOSTR(BUTTON_COLOR(RESULT), "X6")%'>" + @"<button value = '{RESULT}'>" + HTML_ESCAPE((RESULT > 9 ? TOSTR(RESULT) # TOFULL(TOSTR(RESULT)))) + "</button>" + "</font>"
	ELSE
		;先頭８文字を取得、先頭が#、後尾が=ならカラー取得
		IF STRLENSU(MAPING:LOCAL) >= 8 && SUBSTRINGU(MAPING:LOCAL, 0, 1) == "#" && SUBSTRINGU(MAPING:LOCAL, 7, 1) == "="

			;resetCで基本設定の文字色へ戻す
			IF SUBSTRINGU(MAPING:LOCAL, 1, 6) == "resetC"
				RESETCOLOR
			ELSE
				;間の６文字を２文字で区切って色を取得（無効文字は0とする）
				SETCOLOR (MAP_SETC(SUBSTRINGU(MAPING:LOCAL, 1, 1), SUBSTRINGU(MAPING:LOCAL, 2, 1), 4) + MAP_SETC(SUBSTRINGU(MAPING:LOCAL, 3, 1), SUBSTRINGU(MAPING:LOCAL, 4, 1), 2) + MAP_SETC(SUBSTRINGU(MAPING:LOCAL, 5, 1), SUBSTRINGU(MAPING:LOCAL, 6, 1), 0))
			ENDIF

			;先頭８文字を除いて表示
			PRINTFORM %SUBSTRINGU(MAPING:LOCAL, 8, STRLENSU(MAPING:LOCAL)-8)%
		ELSE
			SIF C_CODE >= 0 && C_CODE <= 0XFFFFFF
				SETCOLOR C_CODE
			PRINTFORM %MAPING:LOCAL%
		ENDIF
		RESETCOLOR
	ENDIF
NEXT
PRINT ┃

;マップ側面のボタン表示
FOR LOCAL, 0, 5
	SIF ARG:LOCAL == 0
		CONTINUE

	;数値1~9なら大文字化
	IF ARG:LOCAL < 10
		TOSTR ARG:LOCAL
		TOFULL RESULTS
		LOCALS = %RESULTS%
	ELSE
		LOCALS = %@"{ARG:LOCAL}"%
	ENDIF

	PRINT  
	PRINTBUTTON @"%LOCALS%:%GetPlaceName(ARG:LOCAL)% ", ARG:LOCAL
NEXT
PRINTL
SETFONT


@MAP_SETC(ARGS, ARGS:1, ARG)
#FUNCTION

RETURNF MAP_SETC2(TOLOWER(ARGS)) * POWER(16, ARG+1) + MAP_SETC2(TOLOWER(ARGS:1)) * POWER(16, ARG)


@MAP_SETC2(ARGS)
#FUNCTION

SELECTCASE ARGS
	CASE "1"
		RETURNF 1
	CASE "2"
		RETURNF 2
	CASE "3"
		RETURNF 3
	CASE "4"
		RETURNF 4
	CASE "5"
		RETURNF 5
	CASE "6"
		RETURNF 6
	CASE "7"
		RETURNF 7
	CASE "8"
		RETURNF 8
	CASE "9"
		RETURNF 9
	CASE "a"
		RETURNF 10
	CASE "b"
		RETURNF 11
	CASE "c"
		RETURNF 12
	CASE "d"
		RETURNF 13
	CASE "e"
		RETURNF 14
	CASE "f"
		RETURNF 15
	CASEELSE
		RETURNF 0
ENDSELECT

@GETMAP(場所)
#DIM 場所
#DIM LOOP_CHR
FOR LOOP_CHR ,1,CHARANUM
	IF TALENT:LOOP_CHR:恋慕 && CFLAG:LOOP_CHR:当前位置 == 場所 
		SETCOLOR 色設定_マップ_恋人
	ELSEIF TALENT:LOOP_CHR:恋人 && CFLAG:LOOP_CHR:当前位置 == 場所
		SETCOLOR 0xFFCCFF
	ENDIF
NEXT
IF CFLAG:MASTER:当前位置 == 場所
	SETCOLOR 色設定_マップ_自分
ENDIF
IF FLAG:访问者当前位置 != 900 && FLAG:访问者当前位置 == 場所
	IF !IS_NTR_SHOW_POS() && CFLAG:MASTER:当前位置 != FLAG:访问者当前位置 && CAN_MOVE(CFLAG:MASTER:当前位置, FLAG:访问者当前位置) != 2
		;IF CFLAG:MASTER:当前位置 != FLAG:访问者当前位置 && CAN_MOVE(CFLAG:MASTER:当前位置, FLAG:访问者当前位置) != 2
		;IF CAN_MOVE(CFLAG:MASTER:当前位置, FLAG:访问者当前位置) != 2
		;目の届かない場所だと色の変化なし
	ELSE
		IF FLAG:訪問者の气氛 == 1 || FLAG:訪問者の气氛 == 2
			SETCOLOR 色設定_マップ_爱抚
		ELSEIF FLAG:訪問者の气氛 == 3 || FLAG:訪問者の气氛 == 4
			SETCOLOR 色設定_マップ_性交
		ELSE
			SETCOLOR 色設定_マップ_会话
		ENDIF
	ENDIF
ENDIF
PRINTBUTTON (場所 > 9 ? TOSTR(場所) # TOFULL(TOSTR(場所))),場所
; PRINTBUTTON (場所 > 9 ? TOSTR(場所) # "0"+TOSTR(場所)),場所
RESETCOLOR